.input {
  position: relative;
  top: 35%;
  left: 5%;
  border: none;
  background-color: rgb(103, 101, 101);
}
.input::placeholder {
  color: rgb(48, 45, 45);
  font-style: italic;
  font-weight: bold;
}
.input:focus {
  outline: none;
}
.form {
  position: relative;
  top: 50px;
  height: 100px;
  left: 25%;
  width: 50%;
  box-shadow: 0px 4px 6px rgb(0, 0, 0);
  text-align: center;
  border: none;
}

.button {
  position: relative;
  top: 34%;
  left: 10px;
  border: none;
  background-color: black;
  color: #c98b0f;
  width: 50px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(172, 194, 5, 0.8);
  cursor: pointer;
  transition: background-color 250ms linear, border 100ms linear;
  font-size: 14pt;
}
.button:hover {
  background-color: rgb(39, 39, 39);
  border: 2px solid rgba(172, 194, 5, 0.8);
}
