.input {
  position: relative;
  top: 40%;
  border: none;
  background-color: #808080;
}
.input::placeholder {
  color: rgb(48, 45, 45);
  font-style: italic;
  font-weight: bold;
}
.input:focus {
  outline: none;
}
.form {
  position: relative;
  background-color: #808080;
  top: 50px;
  height: 100px;
  left: 25%;
  width: 50%;
  box-shadow: 0px 4px 6px rgb(0, 0, 0);
  text-align: center;
  border: none;
}

.button {
  position: relative;
  top: 39%;
  left: 5px;
  border: none;
  background-color: #4a4a4a;
  color: #ffff;
  width: 55px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
  box-shadow: 0px 3px 5px rgb(183, 190, 197);
  transition: background-color 250ms linear, border 100ms linear;
  font-size: 10pt;
}
.button:hover {
  background-color: #6c6c6c;
  border: 2px solid rgba(255, 255, 255, 0.8);
}
